RewriteEngine On

# Mapping for /api/buy/{id} to buyProduct.php
RewriteRule ^api/buy/([0-9]+)$ api/buyProduct.php?id=$1 [NC,L]

# Mapping for /api/create to createProducts.php
RewriteRule ^api/create$ api/createProducts.php [NC,L]

# Mapping for /api/update/{id} to updateProduct.php
RewriteRule ^api/update/([0-9]+)$ api/updateProducts.php?id=$1 [NC,L]

# Mapping for /api/delete/{id} to deleteProduct.php
RewriteRule ^api/delete/([0-9]+)$ api/deleteProduct.php?id=$1 [NC,L]

# Mapping for /api/bybrand/{brand} to getProductsByBrand.php
RewriteRule ^api/bybrand/([a-zA-Z0-9-]+)$ api/getProductsByBrand.php?brand=$1 [NC,L]

# Mapping for /api/byid/{id} to getProductsByBrand.php
RewriteRule ^api/byid/([0-9]+)$ api/getProductsId.php?brand=$1 [NC,L]

# Mapping for /api/products to getProducts.php
RewriteRule ^api/products$ api/getProducts.php [NC,L]
