body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    color: #333;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    margin-top: 15px;
}

button:hover {
    background-color: #218838;
}

.output {
    margin-top: 20px;
    background-color: #bddcfa;
    padding: 25px;
    border-radius: 30px 30px 5px 5px;
    text-align: left;
    gap: 10px;
}


h3 {
    position: relative;
    text-align: center;
}

h3::after {
    content: '';
    display: block;
    width: 100%; 
    height: 2px; 
    background: #000; 
    position: absolute;
    bottom: -5px; 
    left: 0;
}

.output-item {
    margin-bottom: 10px;
}

